
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Alauddin_1269215/wp_1269215/wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Alauddin_1269215/wp_1269215/wordpress/index.php [L]
</IfModule>

# END WordPress